<nav class="navbar navbar-expand-lg navbar-expand-md border-bottom border-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="nav-link active" href="@Url.Action("Index", "Home")">
                <p class="navbar-brand mb-1 fs-large d-inline upper-headers">La mia Pizzeria</p>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-center justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link site-font" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menù</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dove siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contattaci</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
